main {
    background-color: #333333;
    color: #ffffff;
    max-width: 1200px;
    width: 95%; 
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #f57c00;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 40px;
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
    background: #444444;
    color: #ffffff;
    padding: 0.8rem;
    border-left: 5px solid #f57c00;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
}

#contact p {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
}

#presentation {
    text-align: justify;
    margin: 0 auto;
    max-width: 100%; 
    line-height: 1.8; 
    padding: 0 20px; 
    margin-top: 0; 
    padding-top: 10px; 
}


#presentation h2 {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #f57c00;
    margin-bottom: 1rem;
    margin-top: 0; 
    padding-top: 0
}

#presentation p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}
