* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
    padding: 20px;
    background-color: #0e0e0e;
    z-index: 10000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    height: 80px;
}

header a {
    font-size: 0px;
}

.header-logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
}

.return-button {
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #b45502;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

.return-button:hover {
    background-color: #ff4500;
}