body {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    overflow: hidden;
    background: #000000;
}

.festive-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background: radial-gradient(circle, rgba(65, 19, 71, 0.219) 10%, transparent 80%),
        radial-gradient(circle, rgba(70, 2, 49, 0.103) 10%, transparent 80%);
    background-size: 200% 200%;
    animation: subtleLights 20s infinite alternate;
}

@keyframes subtleLights {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding: 20px;
    height: calc(100vh - 25px);
    overflow: hidden;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 60%;
    gap: 15px;
    overflow-y: auto;
    padding: 10px;
    border-right: 2px solid #333;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    height: auto;
    width: 20%;
}

.card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    color: #fff;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.116);
    background: linear-gradient(145deg, #3a3a3a, #4c4c4c);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.247), transparent 70%);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 50%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.card:hover::before {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
}

.player {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.current-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.current-track img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 10px;
}

.current-track h2 {
    font-size: 26px;
    margin: 0;
    text-align: center;
    color: #ffffffa1;
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.controls button {
    background-color: #35023623;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #351805a9;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.slider input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #355db3 0%, #444 100%);
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #1040a8;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.volume-box {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.volume-icon {
    font-size: 18px;
    color: #1745db;
}

.volume-slider {
    width: 100px;
    height: 6px;
    background: linear-gradient(90deg, #1040a8 0%, #444 100%);
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #7c3e082f;
    border-radius: 50%;
    cursor: pointer;
}

.volume-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #35023623;
    border-radius: 50%;
    cursor: pointer;
}

.current-track img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 15px;
    border: 3px solid #35023623;
    margin-bottom: 10px;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    position: relative;
    z-index: 1;
}

.current-track img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.116);
    background: linear-gradient(145deg, #35023623, #4c4c4c);
}

.current-track img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.247), transparent 70%);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    border-radius: 50%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: -1;
}

.current-track img:hover::before {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
}

.info-button {
    position: fixed;
    top: 90px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #1040a8;
    border: 1px solid rgba(255, 255, 255, 0.062);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 1000;
}

.info-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.info-window {
    position: fixed;
    top: 85px;
    left: 78%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-window.hidden {
    display: none;
}

.close-button {
    margin-top: 15px;
    background: none;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #f00;
}

@media (max-width: 1024px) {

    html,
    body {
        height: 100%;
        overflow-y: auto;
    }

    main {
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        padding: 10px 5px;
        max-height: auto;
        overflow-y: visible;
    }

    .card {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }

    .card h2 {
        font-size: 12px;
        padding: 5px;
        text-align: center;
        height: auto;
    }

    .player {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }

    .current-track img {
        max-width: 300px;
        height: auto;
    }

    .controls button {
        padding: 10px 15px;
        font-size: 16px;
    }

    .slider {
        gap: 15px;
        justify-content: center;
    }
    
    .volume-slider {
        display: none;
    }
    
    .volume-icon {
        display: none;
    }
    
    .volume-box {
        display: none;
    }
}

@media (max-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 10px;
        height: auto;
        overflow: visible;
    }

    .player {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }

    .card img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .card h2 {
        font-size: 10px;
        padding: 3px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .info-window {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        border-radius: 10px;
        padding: 15px;
        width: 90%;
        max-height: 80%;
        overflow-y: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        z-index: 1000;
    }

    .info-window.hidden {
        display: none;
    }

    .info-window::-webkit-scrollbar {
        width: 6px;
    }

    .info-window::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }

    .info-button {
        position: fixed;
        top: 90px;
        right: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #e67e22;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        z-index: 1100;
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    }

    .info-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: scale(1.1);
    }

    .player {
        order: -1;
    }
}

.card-wrapper {
    border-right: none;
}

.card {
    height: auto;
    aspect-ratio: unset;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h2 {
    font-size: 12px;
    padding: 5px;
    overflow: hidden;
    text-align: center;
}