<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">

    <link href="../Sources/CSS/header.css" rel="stylesheet">
    <link href="../Sources/CSS/fond.css" rel="stylesheet">
    <link href="../Sources/CSS/fragments.css" rel="stylesheet">
    <link rel="icon" href="../Sources/Images/Fragments.png" type="image/png">
</head>

<body>
    <header>
        <a href="../index.html">
            <img src="../Sources/Images/jerome.png" alt="Logo" class="header-logo">
        </a>
        <a href="../Projet/index.html" class="return-button">Mes projets</a>
    </header>
    <button id="info-button" class="info-button">ℹ️</button>
    <div id="info-window" class="info-window hidden">
        <p id="info-text">Aucune information disponible</p>
        <button id="close-info" class="close-button">✖</button>
    </div>
    <div class="festive-background"></div>
    <main>
        <aside class="card-wrapper">
        </aside>

        <section class="player">
            <div class="current-track">
                <img id="current-img" src="" alt="Pochette">
                <h2 id="current-title"></h2>
            </div>
            <div class="controls">
                <button id="prev">⏮️</button>
                <button id="play-pause">▶️</button>
                <button id="next">⏭️</button>

                <div class="volume-box">
                    <span class="volume-icon">🔊</span>
                    <input type="range" id="audio-slider" min="0" max="100" value="30" class="volume-slider">
                </div>
            </div>
            <div class="slider">
                <input type="range" id="time-slider" min="0" max="100" value="0">
                <span id="current-time">0:23</span>
                <span> / </span>
                <span id="total-time">3:36</span>
            </div>
        </section>
    </main>

    <script src="../Sources/JS/music.js"></script>

</html>